.cc-open[role="main"],
.cc-open [role="main"] {
	filter: blur(5px);
}

.cc-bg {
	/* filter: blur(5px); */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

.cc-box {
	position: relative;
	top: 40px;
	background: white;
	color: black;
	font-family: "Speedee","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal !important;
	text-align: center;
	padding: 0 10px;
	border: 1px solid black;
	max-width: 930px;
	display: flex;
	flex-direction: column;
	font-size: 11px;
	max-height: calc(100vh - 40px);
	overflow: auto;
}

.smartbanner + .cc-bg .cc-box {
	top: 132px;
}

.cc-box .cc-message a {
	color: inherit;
}

.cc-box p {
	margin: 0 0 20px;
}

.cc-header {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1rem 0;
}

.cc-message {
	max-width: 720px;
}

.cc-buttons {
	max-width: 420px;
}

.cc-btn {
	font-weight: bold;
	padding: 0.5rem 1rem;
	margin-bottom: 10px;
	background: #868889;
	color: black;
	cursor: pointer;
	font-size: 1.1em;
	display: block;
}

.cc-allow {
	background: #264F36;
	color: #ffffff;
}

@media (min-width: 375px) {
	.cc-box {
		font-size: 12px;
	}
}

@media (min-width: 560px) {
	.cc-box {
		font-size: 16px;
		align-items: center;
		top: 50vh;
		left: 50%;
		padding: 0 10px 20px;
		transform: translate(-50%, -50%);
	}
	.cc-buttons {
		width: 100%;
	}
}
